.header {
  background-color: #ffe600;

}

.header a{ 
    text-decoration: none;
    color:black
}

.burger-menu{
  text-align: center;
}

.iconos{
  text-align: center;
  color:#1259c3;
  font-size: 2em;
}

.footer{
  background-color: #ebebeb;
}